/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}  

/* VARIABLES */

:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

body {
    background: var(--text-color);
    color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
}

/* Header Shadow */

header.shadow {
    background: var(--bg-color);
}

header.shadow .navbar a {
    color: var(--text-color);
}

header.shadow .logo {
    color: var(--text-color);
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover {
    background: #fa1216;
}

/* Custom Scroll Bar */

html::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--text-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}


/* Responsive Code */

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
}

@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }
    #menu-icon {
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon {
        color: var(--text-color);
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a {
        width: 100%;
        color: var(--text-color);
    }
    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }
    .navbar a::after {
        display: none;
    }
    .navbar.active {
        top: 100%;
    }
    .btn {
        padding: 0.6rrem 1.2rem;
    }
}

@media (max-width:370px) {
    header {
        padding: 6px 4%;
    }
    .home-text h1 {
        font-size: 1.7rem;
    }
} 

@media screen and (min-width: 1200px) {
    .navbar li a {
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
        padding: 6px 4%;
    }
}
  
  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  #searchResults {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100px;
  }
  
  #searchResults li {
    margin: 10px;
    text-align: center;
  }
  
  #searchResults img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
  }
  
  #searchButton {
    font-size: 16px;
    margin-top: 10px;
    background-color: #FF5733;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    align-items: center;
  }
  
  #searchInput::placeholder {
    color: #ccc;
  }
  
  .error-message {
    background-color: #ffcccc;
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 10px;
    margin: 10px 0;
    display: none;
    border-radius: 20px;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color);
    transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: var(--main-color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.search-container {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}
